<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex</title>
  </head>
  <body>
    <nav class="header">
      <h3 class="header-title">Pokédex</h3>
      <ul class="header-links">
        <li><a href="/" class="header-link">Liste</a></li>
        <li><a href="/types" class="header-link">Types</a></li>
      </ul>
    </nav>